<div>
<center><img src='Tulips.jpg'/></center>
<center><h3><b>DASHBOARD</b></h3></center>
</br>

</div>


<div class="row">
    <section class="col-lg-6 connectedSortable">
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <i class="fa fa-th"></i>
<!--birthday/anniv table-->
          <h3 class="box-title">Birthday/Anniversary</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body border-radius-none">
          <!--table"-->
          <div class="box-tools">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Donor Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Notify</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>4.8.2018</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td> <span class="glyphicon glyphicon-ok"></span></td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td><span class="glyphicon glyphicon-ok"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
<!--Sponsership Reminder-->        
      <div class="box box-solid bg-teal-gradient">
        <div class="box-header">
          <i class="fa fa-th"></i>
          <h3 class="box-title">Sponsership Reminders</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn bg-light-blue-gradient" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body border-radius-none">
          <!--table"-->
          <div class="box-tools">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Donor Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Notify</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>4.8.2018</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td> <span class="glyphicon glyphicon-ok"></span></td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td><span class="glyphicon glyphicon-ok"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </section>
<!--/div>

<!--right section-->
<!--div class="row">   

<!--birthday/anniv table-->
<section class="col-lg-6 connectedSortable">
  <div class="box box-solid bg-light-blue-gradient">
    <div class="box-header">
      <i class="fa fa-th"></i>
      <h3 class="box-title">General Reminders</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn bg-teal-gradient" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body border-radius-none">
      <div class="box-tools">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Donor Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Notify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>James</td>        
            <td>Matman</td>
            <td>Chief Sandwich</td>
            <td>James</td>        
            <td><button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>   <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-eye-open"></span> 
  </button></td>
          </tr>
          <tr>
            <td>James</td>        
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>James</td>        
            <td><span class="glyphicon glyphicon-ok"></td>
          </tr>
          <tr>
            <td>James</td>        
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>James</td>        
            <td><button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>   <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-eye-open"></span> 
  </button></td>
          </tr>
          <tr>
            <td>James</td>        
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>James</td>        
            <td><span class="glyphicon glyphicon-ok"></td>
          </tr>              
          <tr>
            <td>James</td>        
            <td>Matman</td>
            <td>Chief Sandwich Eater</td>
            <td>James</td>        
            <td><button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>   <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-eye-open"></span> 
  </button></td>
          </tr>        
        </tbody>
      </table>
    </div>
  </div>
<!--General Reminder-->        
  <div class="box box-solid bg-teal-gradient">
    <div class="box-header">
      <i class="fa fa-th"></i>

      <h3 class="box-title">Project Report Submission Reminder</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn bg-light-blue-gradient" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body border-radius-none">
      <div class="box-tools">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
       <table class="table table-bordered">
            <thead>
              <tr>
                <th>Donor Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Notify</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>4.8.2018</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td> <span class="glyphicon glyphicon-ok"></span></td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>   
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                  </button>
                </td>
              </tr>
              <tr>
                <td>James</td>        
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>James</td>        
                <td><span class="glyphicon glyphicon-ok"></span></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</section>
</div>
</div>
