
 <!-- Logo -->
  <header class="main-header">
    
    <a href="/user/.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>EVA</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AIM</b>SEVA</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
     <a href="#" class="sidebar-toggle" ng-click="toggleSidebar()" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

 <!-- <a  class="logo"><b>SMS</b></a>
 Header Navbar: style can be found in header.less -->

<!--  Sidebar toggle button
 <a class="sidebar-toggle" role="button" ng-click="toggleSidebar()">
   <span class="sr-only">Toggle navigation</span>
 </a>-->

 <div class="navbar-custom-menu">
 <div class="pull-left">
       <!--<a  class="btn btn-default btn-flat" ui-sref="login">-->
    <div class="dropdown user user-menu" dropdown>
      <a  class="dropdown-toggle" dropdown-toggle>
      <button class="btn btn-primary btn-lg btn-block btnl"><i  class="fa fa-sign-out"></i>Logout</button>      
      </a>
         <ul class="dropdown-menu">
             <p> Are you sure want to Logout</p>
          <li class="user-footer">
            <div class="pull-left">
              <button ng-click="funCancel()" class="btn btn-primary btn-block btn-flat"><i  class="fa fa-sign-out"></i>NO</button>
            </div>
            <div class="pull-right">
              <button ng-click="logout()" class="btn btn-primary btn-block btn-flat"><i  class="fa fa-sign-out"></i>YES</button>
            </div>
          </li>
         </ul>
     </div>

           

 </div>  </div>
 </header>



  