  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
      <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <!-- <img src="app/views/pages/Tulips.jpg" class="img-circle" alt="AIM FOR SEVA logo"> -->
          </div>
          <div class="pull-left info">
            <p>User</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
      
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li class="active treeview">
              <a ui-sref="home.dashboard"><i class="fa fa-circle-o"></i> Dashboard</a>
              
            
          </li>

          <li class="treeview">
              <a ui-sref="home.countryMaster"><i class="fa fa-circle-o"></i> Country Master</a>
              <!-- <span>Masters Menu</span> -->
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <!-- <ul class="treeview-menu">
              <li><a ui-sref="home.countryMaster"><i class="fa fa-circle-o"></i> Country Master</a></li>
              <li><a href="pages/Masters/StateMaster.html"><i class="fa fa-circle-o"></i> State Master</a></li>
              <li><a href="pages/Masters/CampaignMaster.html"><i class="fa fa-circle-o"></i> Campaign Master</a></li>
              <li><a href="pages/Masters/RoleMaster.html"><i class="fa fa-circle-o"></i> Role Master</a></li>
              <li><a href="pages/Masters/UserMaster.html"><i class="fa fa-circle-o"></i> User Master</a></li>
              <li><a href="pages/Masters/RoleMapping.html"><i class="fa fa-circle-o"></i> Role Mapping</a></li>
              <li><a href="pages/Masters/PaymentMode.html"><i class="fa fa-circle-o"></i> Payment Mode</a></li>
              <li><a href="pages/Masters/NotificationMaster.html"><i class="fa fa-circle-o"></i> Notification Master</a></li>
            </ul> -->
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Category Menu</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Project Category</a></li>
              <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Project Maintenance Type</a></li>
              <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Project Maintenance Sub-type</a></li>
              
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i> <span>Project Menu</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Project</a></li>
              <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Project Details</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i> <span>Donors Menu</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Donor</a></li>
              <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Donor Details</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-search"></i>
              <span>Search</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i>Project Category</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Project Details</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Donations</a></li>
              <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Search Pop-up</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Report Menu</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Donations</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i>Donation-General</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Annual Maintenace</a></li>
              <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Building Donor</a></li>
              <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Facility Management</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Land Donor</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </aside>
