<!--Mythreyi-->
  <!-- Content Wrapper. Contains page content -->
  
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Country Master
      </h1>
      
    </section>
    <section class="content">


<div class="row">
       <div class="col-sm-8">
      
  <div class="box box-primary">
            <div class="box-header">
              <div class="bg-navy-active color-palette">
                <br>
                <h3 class="box-title">View Countries</h3>
              </div>
            </div>
          </div>
     <!--  <div class="" style="margin-top:90px;">
        <div class="col-lg-8"> -->
      
      
      <div class="bs-component" >
        
        <form class="form-inline" >
          <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
          </div>
        </form>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th ng-click="sort('first_name')">Sl. No.
                <span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('first_name')">Country Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('last_name')">Country Short Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('last_name')">Edit
                <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('first_name')">Update
                <span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('last_name')">Delete
                <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              

            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="user in countryMaster|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
              <td>{{$index+1}}</td>
              <td><input name="country" class="form-control"  ng-model="user.country" ng-disabled="!enabledEdit[{{$index}}]"/></td>
              <td><input name="country_short_name" class="form-control"   ng-model="user.country_short_name" ng-disabled="!enabledEdit[{{$index}}]"/></td>
              <!--td>{{user.country}}</td>
              <td>{{user.country_short_name}}</td-->
              <!--td><button type="submit"  class="glyphicon glyphicon-pencil" ng-click="edit(user.country_code)"><i class="primary"></i></button></td>
              
              <td><button type="submit" class="glyphicon glyphicon-remove" ng-click="remove(user.country_code)"></button></td>
              <td><i class="glyphicon glyphicon-list"></i></td-->
                <td class="btn bg-teal-gradient btn-sm"><i class="glyphicon glyphicon-pencil" ng-click="editCountry($index)"></i></td><!--  -->
                <td><i class="glyphicon glyphicon-saved" ng-click="update(user)"></i></td>
                <td><i class="glyphicon glyphicon-remove" ng-click="remove(user.country_code)"></i></td>
            </tr>
          </tbody>
        </table> 
        <dir-pagination-controls
          max-size="5"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls>
      </div>
    </div>
      </div>
      <br>
    <div class="row">
    <div class="col-sm-6">
    <!-- Main content -->
    
          <div class="box">
            <div class="box box-primary">
              <div class="box-header">
                <div class="bg-navy-active color-palette">
                <br>
                  <h3 class="box-title">Add</h3>
                </div>
                <br>
              <div class="box-body no-padding">
                <label class="col-md-4 control-label" >Country Name</label>
                  <div class="col-md-6  inputGroupContainer">
                    <div class="input-group"> <span class="input-group-addon"><li class="glyphicon glyphicon-flag"></li></span>
                    <input list="countryMasters" name="country"  placeholder="Country Name" class="form-control" ng-model="regData.country" >
                    <datalist id="countryMasters" >
                    <option ng-repeat="x in allCountryMaster" value="{{x.country}}">Short name:{{x.country_short_name}}</option>
                    </datalist>
                  </div>
                </div>
                <br>
                <br>
                <label class="col-md-4 control-label" >Country Short Name</label>
                <div class="col-md-6  inputGroupContainer">
                  <div class="input-group"> <span class="input-group-addon"><li class="glyphicon glyphicon-flag"></li></span>
                    <input name="country_short_name" placeholder="Short name" class="form-control"  type="text" ng-model="regData.country_short_name" maxlength="3">
                  </div>
                </div>
                <br>
                <br>
                <label class="col-md-4 control-label" >Active</label>
                  <div class="col-md-6  inputGroupContainer">
                    <div class="form-group">
                      <label>
                        <input type="radio" name="r3" value="Y" class="flat-red" ng-model="regData.active">
                        Yes
                      </label>
                  
                      <label>
                        <input type="radio" name="r3" value="N" class="flat-red" ng-model="regData.active">
                        No
                      </label>
                    </div>
                    <div class="col-md-6  inputGroupContainer">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="setCountryMaster(regData)">Save</button>
                    </div>
                    <div class="col-md-6  inputGroupContainer">
                      <button type="submit" class="btn btn-block btn-primary">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
 
  </div>
  </div>
<!--end of Mythreyi-->
