<div class="page-header">
	<!--h4>Countrymaster {{main.first_name}}</h4-->
	
</div>


<div class="container" >
	<h4 style="width: 100%;height: 30px; background-color: #003366;color: #fff;padding-left: 20px;border-radius: 5px; line-height: 30px; size: thin;">Country Master(Add)</h4>
	<form class="form-horizontal"  >
		<div class="jumbotron">
			<div class="row">
  				<div class="col-md-12">
      				  <div class="form-group">
       					 <label class="col-md-4 control-label" >Country Name</label>
        					<div class="col-md-6  inputGroupContainer">
          						<div class="input-group"> <span class="input-group-addon"><li class="glyphicon glyphicon-flag"></li></span>
            					<!--input name="country" placeholder="Country Name" class="form-control"  type="text" ng-model="countryMaster.regData.country" -->

            					<input list="countryMasters" name="country"  placeholder="Country Name" class="form-control" ng-model="regData.country" >
            					<datalist id="countryMasters" >
            					<option ng-repeat="x in countryMaster" value="{{x.country}}">Country :{{x.country}}</option>
            					</datalist>
          					</div>
        				</div>
      				</div>
      				  <div class="form-group">
       					 <label class="col-md-4 control-label" >Country Short Name</label>
        					<div class="col-md-6  inputGroupContainer">
          						<div class="input-group"> <span class="input-group-addon"><li class="glyphicon glyphicon-flag"></li></span>
            					<input name="country_short_name" placeholder="Short name" class="form-control"  type="text" ng-model="regData.country_short_name" maxlength="3">
          					</div>
        				</div>
      				</div>

      				<div class="form-group">
				        <label class="col-md-4 control-label">Active</label>
				        <div class="col-md-6 selectContainer">
				          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				            <select name="active" class="form-control selectpicker" ng-model="regData.active">
				              <option>Please select</option>
				              <option value="1">Yes</option>
				              <option value="0">No</option>
				            </select>
				          </div>
				        </div>
      				</div>
						 <table style="margin: 0 auto;">
							<tr>	
								<td>
									<div class="btn-group">
										<button type="submit" ng-click="setCountryMaster(regData)"  class="btn btn-primary">Save</button>
										
										<button type="button" class="btn btn-primary">Reset</button>
									</div>
								</td>
							</tr>
						 </table>				
  					</div>   
  				</div>
			</div>
		</div>
	</form>
	<br>
	<div class="jumbotron text-center" ng-show="countryMaster.loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading</p>
	</div>
	<br>
	<div class="row show-hide-message" ng-show="countryMaster.successMsg">
		<div class="alert alert-success">{{countryMaster.successMsg}}</div>
	</div>
	<br>
	<div class="row show-hide-message" ng-show="countryMaster.errorMsg">
		<div class="alert alert-danger">{{countryMaster.errorMsg}}</div>
	</div>

</div>

